<div>
  <table>
<tr>
      <th>Id</th>
      <th>Title</th>
      <th>price</th>
      <th>stock</th>
   
</tr>    
      <ListItem *ngFor = "let ListItem of list" [data]="ListItem"> </ListItem>
</table>
</div>